.DS_Store
.Rhistory

01_Regression-*.pdf
01_Regression-*.tex
01_Regression-*_files/

02d-logistic-regression.pdf
02d-logistic-regression.tex
02d-logistic-regression_files/

03a-parameter-estimation.pdf
03a-parameter-estimation.tex
03a-parameter-estimation_files/
03c-quality-of-estimation.pdf
03c-quality-of-estimation.tex
03c-quality-of-estimation_files/
03d-model-selection.pdf
03d-model-selection.tex
03d-model-selection_files/
03e-sensitivity-analysis.pdf
03e-sensitivity-analysis.tex
03e-sensitivity-analysis_files/
03g-case-study-streeter-phelps.pdf
03g-case-study-streeter-phelps.tex
03g-case-study-streeter-phelps_files/
04-outro-from-linear-to-nonlinear.pdf
.Rproj.user
