.DS_Store
.Rhistory

01_Regression-*.pdf
01_Regression-*.tex
01_Regression-*_files/

03a-introduction.pdf
03a-introduction.tex
03b-parameter-estimation.pdf
03b-parameter-estimation.tex
03b-parameter-estimation_files/
03c-quality-of-estimation.pdf
03c-quality-of-estimation.tex
03c-quality-of-estimation_files/
03d-model-selection.pdf
03d-model-selection.tex
03d-model-selection_files/
03e-sensitivity-analysis.pdf
03e-sensitivity-analysis.tex
03e-sensitivity-analysis_files/
04-outro-from-linear-to-nonlinear.pdf
03g-case-study-streeter-phelps.pdf
03g-case-study-streeter-phelps.tex
03g-case-study-streeter-phelps_files/
